@import  "./variables/variables";

@import  "./utils/visually-hidden";

@import "./base/base";

//компоненти

@import "./components/btn";
@import "./components/header";
@import "./components/hero";
@import "./components/backdrop";
@import "./components/box-header";
@import "./components/featurest";
@import "./components/modal";
@import "./components/card";
@import "./components/icons";
@import "./components/client";
@import "./components/element-portfolio";
@import "./components/filter";
@import "./components/footer";
@import "./components/overlay";
@import "./components/menu-btn";
@import "./components/mobile-contacts";
@import "./components/mobile-nav";
@import "./components/mobile-menu";
@import "./components/socials";










