.section {
    padding-top: 94px;
    padding-bottom: 94px;

&--title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    margin-bottom: 4px;
    letter-spacing: 0.06em;
    color: var(--primary-text-color);}
    
&__portfolio {
        margin-top: -30px;
        padding: 0;
        display:flex;
        flex-wrap: wrap;
        list-style: none;


        @media screen and (min-width: 480px) and (max-width: 767px){
                display: block;
                margin-top: 30px;}
        
        
        @media screen and (min-width: 768px) and (max-width: 1199px){
                margin-top: -30px;
                padding: 0;
                display: flex;
                flex-wrap: wrap;
                list-style: none;}}
    
    
&__span-shadow:hover,
&__span-shadow:focus
     {box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);}   
    
&__span-shadow {
         display: block;}
    
    
&__filter-nav--but-shadow:hover,
&__filter-nav--but-shadow:focus {
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);}
    
    
&__element {
        margin-left: 30px;
        margin-top: 30px;
        background: #FFFFFF;
        box-sizing: border-box;
        border-left: 30px;
        border-right: 30px;
        border-bottom: 30px;

        @media screen and (min-width: 480px) and (max-width: 767px) {
        margin-left: 0px;
        margin-top: 0px;}

        
        @media screen and (min-width: 480px) and (max-width: 767px) {}
        &:not(:last-child) {
                margin-bottom: 30px; }}
    
  
&--project {
     font-family: Roboto, sans-serif;
    font-weight: 400;   
    font-size: 16px;
    line-height:1.87;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    text-decoration:none;
    margin-top: 0;}
    
    
    
&__element .section--project {
        color: var(--title-text-color);}
    
&--box-bottom {
        border: 1px solid #EEEEEE;
        padding-left: 24px;
        padding-top: 20px;
        padding-bottom: 20px;}}
    

.element .title{
              color: var(--primary-text-color);}