.page-header {
    display: flex;


   
@media screen and (min-width:480px)  and (max-width:767px) {
    padding-top: 16px;
    padding-bottom: 16px;
} 



&__site-nav {
        display: flex;
        align-items: center;
    
        @media screen and (min-width:480px)  and (max-width:767px){
        display: contents;}}
    
    
&__site-nav  &__item +  &__item {
            margin-left: 50px;}
        
&__item--link {
        position: relative;}
    
&__site-nav  &__item--link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height:1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    text-decoration: none;}
    
&__site-nav   &__item--link:hover,
&__site-nav   &__item--link:focus{
    color:var(--accent-color); }


&__logo{
        font-family:  "Raleway", sans-serif;
        font-size: 26px;
        line-height: 1.19;
        text-decoration: none;
        margin-bottom: 0px;}
        

&__logos{
            font-size: 26px;
            font-weight: bold;
            font-family: "Raleway", sans-serif;}
    
  
&__communication {
                display: flex;
                line-height:1.14;
                padding-top: 32px;
                padding-bottom: 32px;
                color: var(--title-text-color);
                transition-property: color;
                transition-duration: 250ms;
                transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
                text-decoration: none;


                @media screen and (min-width:768px) and (max-width:1199px) {
                    padding-top: 0px;
                    padding-bottom: 0px; 
                    font-size: 12px; } }

&__contact-nav {
    display: inline-flex;
    margin-left: auto; 
    font-family: Roboto, sans-serif;
    font-weight: 500;    
    line-height: 1.14;

    @media screen and (min-width:480px)  and (max-width:767px) {
        display: none;
    } 
    
    
        @media screen and (min-width:768px) and (max-width:1199px)  {
            flex-direction: column;
            padding-top: 21px;
            padding-bottom: 21px;
            transform: translateX(30px);
            display: block;
        }

        @media screen and (max-width: 1200px) {
            flex-direction: row;
        }}

&__icon-item {
    fill:#757575;  
    margin-right: 10px;
    margin-left: 50px;

    @media screen and (min-width:768px) and (max-width:1199px){
        width: 10px;
        height: 14px;
    }}

&__icon-mail {
    margin-right: 10px;
    fill: #757575;
    align-self: center;

    @media screen and (min-width:768px) and (max-width:1199px){
        width: 14px;
        height: 10px;
    }}
      
&__communication:hover &__icon-mail,
&__communication:focus &__icon-mail{  
                    fill: #2196F3;}
                    
&__communication:hover &__icon-item,
&__communication:focus &__icon-item{  
                    fill: #2196F3;}        
                        
&__communication:hover,
&__communication:focus {  
color: var(--accent-color);}

&__item--current::after { 
    position: absolute;
    content:'';
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 4px;
    background-color: #2196F3;
    border-radius: 2px;

    @media screen and (min-width:480px) and (max-width:767px){
        display: none;
    }

}

&__mail {
    margin-bottom: 10px;
    margin-right: 0px;
}   
&__tel{
    @media screen and (min-width:768px) and (max-width:1199px) {
        transform: translateX(-50px);}

}}

.logo-second {
color: black;
font-weight: bold;}


   