.hero { 
  text-align: center;
  margin: 0 auto;
  background-color: #C4C4C4;
  
  @media screen and (min-width: 320px) and (max-width: 479px) {
 
    padding: 118px 15px 118px 15px;
    &{background-image: linear-gradient(to bottom, rgba(47,48,58,0.4), rgba(47,48,58,0.4)), url(../images/heromobile1x.jpg);}
    }


    @media screen and (min-width: 480px)  and (max-width:767px) {
      background-position: center;
      padding-top: 118px;
      padding-bottom: 118px;
      background-repeat: no-repeat;
      &{background-image: linear-gradient(to bottom, rgba(47,48,58,0.4), rgba(47,48,58,0.4)), url(../images/heromobile1x.jpg);}}

     


    @media screen and (min-width: 768px) and (max-width: 1199px) {
      padding: 118px;
      background-position: center;
      background-repeat: no-repeat;
     &{background-image: linear-gradient(to bottom, rgba(47,48,58,0.4), rgba(47,48,58,0.4)), url(../images/hero1xtablet.jpg);}}

    @media screen and (min-width: 1200px) and (max-width:1600px) {
      background-repeat: no-repeat;
      background-position: center;
      max-width: 1600px;
      padding: 200px 15px 200px 15px;
    &{background-image: linear-gradient(to bottom, rgba(47,48,58,0.4), rgba(47,48,58,0.4)), url(../images/hero.jpg);}}

    
    
   
    &__hero-title {
       margin:0 auto;
       text-align: center;
       line-height: 1.4;
       color: #FFFFFF;
       text-transform: uppercase;
       letter-spacing: 0.06em;

       @media screen and (max-width: 320px){
         font-size: 26px;}
      
       @media screen and (min-width:480px)  and (max-width:767px){
          width: 360px;
         font-size:26px;}
        
         @media screen and (min-width:768px) and (max-width:1199px){
          width: 360px;
          font-size:26px;}
        
          @media screen and (min-width:1200px){
            width: 696px;
            font-size:44px;}}
   
    &__button-header {
       margin-top: 30px;
       font-weight: bold;
       padding: 10px 32px;
       font-size: 16px;
       letter-spacing: 0.06em;
       border-radius: 4px;
       line-height: 1.8;
       color: var(--primary-bg-color);
       background-color: var(--accent-color);
       border: none;}
   
   
   &__button-header:hover,
   &__button-header:focus{
       cursor: pointer; }}



  
           
          