.section {
    padding-top: 94px;
    padding-bottom: 94px;

&__socials-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background-color:#FFFFFF;
    border-radius: 50%;
    background-size: 20px;
    background-position: center;
    transition-property: color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);}

&__socials-link:hover &--socials-icon,
&__socials-link:focus &--socials-icon{
    background-color: #2196f3;
    fill: #FFFFFF;}    

&__socials-link:hover ,
&__socials-link:focus{
    background-color: #2196f3;}    

&--socials-icon {fill: #AFB1B8;}

&__socials { display: flex;
    justify-content: center;} 

&__socials-item:not(:last-child){ margin-right: 10px;}
 }

 