.menu-btn {


   @media screen and (min-width:480px) and (max-width:767px) {
    position: relative;
    display: flex;
    width: 40px;
    height: 40px;
    padding: 0;
    background-color: transparent;
    border: transparent;
    outline: transparent;
    z-index: 99;
   cursor: pointer;
      margin-left: auto;}
    
    @media screen and (min-width: 320px) and (max-width: 479px) {
    position: relative;
    margin-right:auto;
    display: flex;
    width: 40px;
    height: 40px;
    padding: 0;
    background-color: transparent;
    border: transparent;
    outline: transparent;
    z-index: 99;
    cursor: pointer;}


    &:hover , 
    &:focus {
        fill: rgba(33, 150, 243, 1);
    }

    
    @media screen and (min-width: 768px) {
        display: none;
    }


   &__icon{
    width: 40px;
    height: 40px;
    position: fixed;}


    &__icon-open{
        opacity: 1;
        position: fixed;
        top: 3%;
    }

    &__icon-close{
        opacity: 0;
    }
     }


     .menu-btn.is-active .menu-btn__icon-open{
        opacity: 0;
     }

     .menu-btn.is-active .menu-btn__icon-close{
         opacity: 1;
        }