.modal {
    position: relative;
    top:50%;
    left:50%; 
    padding: 40px;
    height: 501px; 
    width:448px;
    background-color: #FFFFFF;
    transform:  translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: 480px) and (max-width: 767px){
            width: 370px;
            height: 529px;}


&__all-form {
        transform: translateY(36px);}            


&__vector-modal{
        position: absolute;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 490px;
        margin-top: 8px;
        margin-right: 8px;
        top:0;
        right: 0;
        width: 30px;
        height: 30px;
        background-color:#FFFFFF;
        border-radius: 50%;
        border: 1px solid  rgba(0, 0, 0, 0.1);
        cursor: pointer;}
    
     
&__vector-modal:hover,
&__vector-modal:focus{
        fill:#2196f3;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);}   
      
&__vector-icon {
        align-content: center;}

&__form-hd {
            text-align: center;
            margin-bottom: 12px;
            border-top: 40px;
            height: 23px;
            line-height: 1.15;
            font-weight: bold;
            font-size: 20px;
            letter-spacing: 0.03em;
            color:rgba(33, 33, 33, 1);
        
            @media screen and (min-width: 480px) and (max-width: 767px){
                margin-bottom: 0px;}}
      
          
          
&--form-field {
              position: relative;
              display: flex;
              flex-direction: column;
              margin-bottom: 10px;}
          
&--form-mail{
              position: relative;
              display: flex;
              flex-direction: column;
              margin-bottom: 10px;}  
              
&--form-field label{
              width: 41px;
              margin-bottom: 4px;
              font-size: 12px;
              cursor: pointer;
              letter-spacing: 0.01em;
              color:  rgba(117, 117, 117, 1);}
              
&--form-field input {
              outline: transparent;
              margin: 0;
              width: auto;
              height: 40px;
              border-radius: 4px;
              border: 1px solid rgba(33, 33, 33, 0.2);}   
      
          
&--form-mail label {
               width: 25px;
               margin-bottom: 4px;
               font-size: 12px;
               letter-spacing: 0.01em;
               color:  rgba(117, 117, 117, 1);
               cursor: pointer;}
               
&--form-mail input {
                  outline: transparent;
                  width: auto;
                  height: 40px;
                  margin: 0;
                  border-radius: 4px;
                  border: 1px solid rgba(33, 33, 33, 0.2);}
          
       
&--form-field input:focus,
&--form-field input:hover{
                          border: 1px solid #2196f3;
                          transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
                          cursor: pointer;}

&--form-field:focus-within,
&--form-field:hover{
                  fill: #2196f3;
                  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
                  cursor: pointer;}
              
&--form-mail input:focus,
&--form-mail input:hover {
                  border: 1px solid #2196f3;
                  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
                  cursor: pointer;}
      
&--form-mail:focus-within,
&--form-mail:hover {
                      fill: #2196f3;
                      transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
                      cursor: pointer;}        
      
&__com-field  textarea:focus-within,
&__com-field  textarea:hover {
                  border: 1px solid #2196f3;
                  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
                  cursor: pointer;
                  outline: transparent;} 
          
&__com-field {
              display: flex;
              flex-direction: column;}

&__com-field  label{
            margin-top: 0px;
            width: 80px;
            margin-bottom: 4px;
            font-size: 12px;
            letter-spacing: 0.01em;
            cursor: pointer;
            color:  rgba(117, 117, 117, 1);}  
              
&__com-field--comment{
                height: 88px;
                resize: none;
                padding: 12px 16px;
                border: 1px solid rgba(33, 33, 33, 0.2);
                border-radius: 4px;}  
                   
&__chek-container--checkbox{
               -webkit-appearance: none;
               position: absolute;}
               
&__chek-container--chek {
              display: inline-block;}
                
                
&__chek-container--icon-chek {
                display: inline-block;
                width: 16px;
                height: 15px;
                border: 2px solid rgba(33, 33, 33, 1);
                border-radius: 4px;
                cursor: pointer;
                transform: translateY(-3px);} 
            
                
&__chek-container--checkbox:checked +  &__chek-container--icon-chek {
                border-color:#2196f3;
                background-color: #2196f3;
                background-image: url('../images/check.svg');
                background-size: contain;
                background-position: center;
                background-origin: border-box;} 
      
                
&__chek-container {
              display: flex;
              justify-content: center;
              margin-top: 20px;}
      
&__chek-container--sogl {
              text-decoration: underline;}
               
       
&__chek-container--name-chek {
              display: block;
              margin-left: 7px;
              color: #757575;
              font-size: 14px;
              width: auto;
              height: 24px;
              letter-spacing: 0.03em;
        
              @media screen and (min-width: 480px) and (max-width: 767px){
                      font-size: 12px;
              }}
      
&__but-centre {
              justify-content: center;
              display: flex;
              margin-top: 31px;}    
              
      
&__but-modal{
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          font-weight: bold;
          padding: 10px 56px;
          font-size: 16px;
          letter-spacing: 0.06em;
          border-radius: 4px;
          line-height: 1.8;
          color: var(--primary-bg-color);
          background-color: var(--accent-color);
          border: none;
         cursor: pointer;}   
         
&--icon-form{
             position: absolute;
             top: 55%;
             left: 14px;
             display: inline-block;} 
              
&__otstyp {
             padding-left: 35px;} }           