.section {
    padding-top: 94px;
    padding-bottom: 94px;

    @media screen and (max-width:767px) {
        padding-top: 60px;
        padding-bottom: 60px;} 

&__overlay{
    position: relative;
    overflow: hidden;}



 &__element:hover 
 &--overlay-card{
     transform: translateY(0);} 


&__overlay-text{
    display: block;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color:rgba(255, 255, 255, 1);
    padding-top: 63px;
    padding-left: 24px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: 480px) and (max-width: 767px){
        padding: 77px 24px 77px 24px;
    }}


&--overlay-card { 
        position: absolute; 
        content: '' ;
        display: inline-block;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
        background-color: rgba(33, 150, 243, 0.9);
        transform: translateY(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);}}